In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
final = pd.read_csv('Outputs/state_wine_ctry_f.csv', encoding = 'utf-8')

In [29]:
final.drop_duplicates('state', inplace= True)
final.head()

   stateId   country              state      GDP  countryId
0        0  Portugal              Douro        0         31
1        1        US             Oregon  238,687         39
3        3     Spain     Northern Spain        0         36
4        4     Italy  Sicily & Sardinia        0         22
5        5    France             Alsace        0         15

In [30]:
final.set_index(['stateId'], inplace =True)
final.head(28)

              country                    state        GDP  countryId
stateId
0            Portugal                    Douro          0         31
1                  US                   Oregon    238,687         39
3               Spain           Northern Spain          0         36
4               Italy        Sicily & Sardinia          0         22
5              France                   Alsace          0         15
7                  US               California  2,935,332         39
11          Argentina                    Other          0          1
12          Argentina         Mendoza Province          0          1
24              Chile         Colchagua Valley          0          9
26             France               Beaujolais          0         15
27              Chile             Maule Valley          0          9
30             France                 Bordeaux          0         15
32              Chile             Maipo Valley          0          9
33                 US               Washington    559,011         39
35              Italy            Central Italy          0         22
37             France                Champagne          0         15
39             France                 Burgundy          0         15
46              Italy           Southern Italy          0         22
50          Australia          South Australia          0          3
52              Chile             Rapel Valley          0          9
53              Spain                  Galicia          0         36
54             France             France Other          0         15
59              Italy                  Tuscany          0         22
64            Austria               Burgenland          0          4
70              Chile             Leyda Valley          0          9
87       South Africa             Stellenbosch          0         35
88       South Africa  Simonsberg-Stellenbosch          0         35
96           Portugal               Alentejano          0         31

In [41]:
rds_connection_string = "root:Pruney@123@127.0.0.1/Wine_Ratings_DB"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}?charset=utf8mb4')

In [37]:
engine.table_names()

['state']

In [42]:
final.to_sql(name = 'state', con=engine, if_exists= 'append', index = False)